@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

html{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    line-height: 1.618;
}

body{
    background-color: #304455;
}
h1{
    font-family: 'La Belle Aurore', cursive;
    font-size: 2rem;
    background-color: rgba(26, 200, 43, 0.3);
    color: #9a7f25;
    text-shadow: 13px 7px 11px rgba(26, 200, 43, 0.2);
}
body{
    background-image: url("Afbeeldingen/Favicon.ico");
    background-attachment: fixed;
}
p{
    text-align: justify;
    color: #f6de15;
    font-family: Verdana, Geneva, sans-serif;
}
.blue{
    color: #f90606;
}

span, div{
    color: #1ac82b;
}
nav{
    text-align: center;
}
nav a{
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
}
nav a:hover{
    text-decoration: none;
}

a{
    color: #efead5;
    text-decoration: underline;
}
a:hover{
    color: #1ac82b;
}
ul{
    border: solid 20px black;
}
table{
    caption-side: bottom;
    border: solid 1px white;
    border-collapse: collapse;
}
td, th{
    border: solid 1px white;
    border-collapse: collapse;
    padding: 5px;
}
th{
    background-color: #e71d1d;
    color: #efead5;
}
col{
    width: 150px
}
img{
    border-radius: 2rem;
    border: solid 1px  black;
    transition: 500ms;
}
img:hover{
    border-radius: 50%;
    transform: rotate(180deg);
}
figure{
    border: solid 1px yellow;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    backdrop-filter: blur(5px);
}
